<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= donor.Fname %></title>
  </head>
  <body>
    <a href="/donors">All Donors</a>
    <h1><%= donor.Fname %> <%= donor.Lname%></h1>

    <a href="/donors/<%= donot.id %>"/edit></a>
  </body>
</html>
