<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new Donor</title>
  </head>
  <body>
    <h1>Add new Donor</h1>
    <form action="/people" method="post">
      <label for="Fname">First name</label>
      <input type="text" name="person[Fname]" id="Fname" />
      <label for="Lname">Last name</label>
      <input type="text" name="person[Lname]" id="Lname" />

      <label for="Address">Address</label>
      <input type="text" name="person[Address]" id="Address" />
      <label for="Bdate">Birth Date</label>
      <input type="date" name="person[Bdate]" id="Bdate" />
      <label for="Email">Email</label>
      <input type="email" name="person[Email]" id="Email" />
      <button>Add Donor</button>
    </form>
  </body>
</html>
